body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; 
}

.home {

  padding: 0px;
  margin: 0px;
}
* {
  padding: 0px;
  margin: 0px;
}

.navbar-icon {
 
  padding-right: 20px !important;
}





.privacy::-webkit-scrollbar {
  display: none;
}


.privacy {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  color: white;
}
.privacy>p{
  color: white;
  font-family: "Gill Sans MT";

}
.main-privacy{
  padding-left: 3vw;
  padding-right: 3vw;

}
.main-text{
  color: white;
  font-family: "NuevaStd-Bold";
  padding-left: 14px;
  font-size: 45px;
}
.header {
  color: white;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 0px;
  width: 50vw;
  top: 8vh;
}
.header-mobile {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}


.downloads {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-right: 60px;
}

@media (max-width :600px){

}

.span {
  color: white;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: "NuevaStd-Bold";
  src: url("../../assets/NuevaStd-Bold.otf");
}
.logo {
  padding-left: 2vw;
}

.middle-content {
  margin-bottom: 10vw;
}
.nav-item {
  font-family: "Gill Sans MT";
  font-weight: 500;
}

.download-page {
  text-align: center;

  height: 60%;
  padding-top: 20vh;
  height: 85vh;
}
.download-title {
  color: white;
  font-family: "NuevaStd-Bold";
  font-size: 5.5vw;
  padding-bottom: 20px;
}

/* For social Media */
.footer{
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-logo{
  text-align: center;
  flex-direction: row;
  display: flex;
  align-items: center;

  justify-content: center;
  margin-bottom: 10vh;

}
.footer-logo >h1{
  font-family: "NuevaStd-Bold";

  font-size: 90px;
  color: white;
}

@media (max-width: 600px){
  .footer{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .footer-logo{

    margin-bottom: 15vh;
  
  }
  .footer-logo >h1{
    font-family: "NuevaStd-Bold";
  
    font-size: 36px;
    color: white;
    margin-bottom: 10px !important;
  }
  .download-page {

    height: 90vh;
  }
}