
.privacy {
  overflow-y: scroll;
  color: white;
  font-size: 26px;
  font-family: "Gill Sans";
  height: max-content;
  margin-top: 10vh;
  padding-bottom: 20vh;

}
.privacy::-webkit-scrollbar {
  display: none;
}
.main-text {
 
  margin-top: 5vh;
font-family: 'Gill Sans MT';
  margin-bottom: 45px;
  color: white;
  padding-left: 0%;
  font-weight: 900;
}
.main-privacy {
  padding-left: 3vw;
  padding-right: 5vw;
  padding-top: 30px;
  
}
.main-privacy > h1 {
  padding-left: 12px;
  font-family: "NuevaStd-Bold";
  font-size: 50px;
}
.privacy >h2{
  margin-top: 60px;
  font-family: 'Gill Sans MT';
  font-weight: bold;

}
.privacy >p{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #C6C4C4;
  font-family: 'Gill Sans MT';

}
.privacy >div>p{
  font-size: 25px;
  color: #C6C4C4;
  font-family: 'Gill Sans MT';

}
@media (max-width: 600px) {
  .main-text {
    font-size: 28px;
  }
  .privacy >p {
    font-size: 18px;
  }
  .main-privacy{
    padding-top: 20px;

  }
  .privacy >h2{
    margin-top: 60px;
    font-size: 18px;
  }
  .privacy{
    height: 76vh;

  }
  .privacy >div>p{
    font-size: 18px;
margin-bottom: 0px;
  
  }
}

@media (max-width: 600px){
  .footer-logo{
    padding-left: 30px;
    
  }
  .main-privacy{
    height: fit-content;
  }
  .privacy{
    height: 90vh;

  }
}